:root {
  --cinza: #667085;
  --vermelho: #8e2424;
  --preto: #3a404e;
}

body {
  font-family: "Inter", sem serifa;
}

.nav_principal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 18px 80px;
  padding: 0 32px;
}

.nav_logo {
  display: flex;
  width: 148px;
  align-items: center;
  gap: 8px;
}

.nav_lista {
  display: flex;
  align-items: center;
  gap: 32px;
  color: var(--cinza);
  font-size: 16px;
  padding-right: 16%;
}

.nav_lista_cadastro {
  display: flex;
  align-items: center;
  gap: 32px;
  color: var(--cinza);
  font-size: 16px;
}

.nav_botao-cadastro {
  color: white;
  background-color: var(--vermelho);
  border-radius: 8px;
  padding: 10px 18px 10px 18px;
  border: 1px solid var(--vermelho);
  font-size: 16px;
}
